<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdu.xducoder.Dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.xdu.xducoder.Entity.Course">
    <id column="CourseID" jdbcType="CHAR" property="courseID" />
    <result column="CourseName" jdbcType="VARCHAR" property="courseName" />
    <result column="CourseDIF" jdbcType="CHAR" property="courseDIF" />
    <result column="CourseNum" jdbcType="INTEGER" property="courseNum" />
    <result column="completeNum" jdbcType="INTEGER" property="completeNum" />
    <result column="CourseDescription" jdbcType="VARCHAR" property="courseDescription" />
    <result column="coverUrl" jdbcType="VARCHAR" property="coverUrl" />
  </resultMap>
  <select id="list" resultType="com.raincur.Entity.Course">
        select *
        from course
    </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CourseID, CourseName, CourseDIF, CourseNum, completeNum, CourseDescription, coverUrl
  </sql>
  <select id="selectByExample" parameterType="com.xdu.xducoder.Entity.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where CourseID = #{courseID,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where CourseID = #{courseID,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdu.xducoder.Entity.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdu.xducoder.Entity.Course">
    insert into course (CourseID, CourseName, CourseDIF, 
      CourseNum, completeNum, CourseDescription, 
      coverUrl)
    values (#{courseID,jdbcType=CHAR}, #{courseName,jdbcType=VARCHAR}, #{courseDIF,jdbcType=CHAR}, 
      #{courseNum,jdbcType=INTEGER}, #{completeNum,jdbcType=INTEGER}, #{courseDescription,jdbcType=VARCHAR}, 
      #{coverUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdu.xducoder.Entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseID != null">
        CourseID,
      </if>
      <if test="courseName != null">
        CourseName,
      </if>
      <if test="courseDIF != null">
        CourseDIF,
      </if>
      <if test="courseNum != null">
        CourseNum,
      </if>
      <if test="completeNum != null">
        completeNum,
      </if>
      <if test="courseDescription != null">
        CourseDescription,
      </if>
      <if test="coverUrl != null">
        coverUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseID != null">
        #{courseID,jdbcType=CHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDIF != null">
        #{courseDIF,jdbcType=CHAR},
      </if>
      <if test="courseNum != null">
        #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="completeNum != null">
        #{completeNum,jdbcType=INTEGER},
      </if>
      <if test="courseDescription != null">
        #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.courseID != null">
        CourseID = #{record.courseID,jdbcType=CHAR},
      </if>
      <if test="record.courseName != null">
        CourseName = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDIF != null">
        CourseDIF = #{record.courseDIF,jdbcType=CHAR},
      </if>
      <if test="record.courseNum != null">
        CourseNum = #{record.courseNum,jdbcType=INTEGER},
      </if>
      <if test="record.completeNum != null">
        completeNum = #{record.completeNum,jdbcType=INTEGER},
      </if>
      <if test="record.courseDescription != null">
        CourseDescription = #{record.courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.coverUrl != null">
        coverUrl = #{record.coverUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set CourseID = #{record.courseID,jdbcType=CHAR},
      CourseName = #{record.courseName,jdbcType=VARCHAR},
      CourseDIF = #{record.courseDIF,jdbcType=CHAR},
      CourseNum = #{record.courseNum,jdbcType=INTEGER},
      completeNum = #{record.completeNum,jdbcType=INTEGER},
      CourseDescription = #{record.courseDescription,jdbcType=VARCHAR},
      coverUrl = #{record.coverUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdu.xducoder.Entity.Course">
    update course
    <set>
      <if test="courseName != null">
        CourseName = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDIF != null">
        CourseDIF = #{courseDIF,jdbcType=CHAR},
      </if>
      <if test="courseNum != null">
        CourseNum = #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="completeNum != null">
        completeNum = #{completeNum,jdbcType=INTEGER},
      </if>
      <if test="courseDescription != null">
        CourseDescription = #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        coverUrl = #{coverUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where CourseID = #{courseID,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdu.xducoder.Entity.Course">
    update course
    set CourseName = #{courseName,jdbcType=VARCHAR},
      CourseDIF = #{courseDIF,jdbcType=CHAR},
      CourseNum = #{courseNum,jdbcType=INTEGER},
      completeNum = #{completeNum,jdbcType=INTEGER},
      CourseDescription = #{courseDescription,jdbcType=VARCHAR},
      coverUrl = #{coverUrl,jdbcType=VARCHAR}
    where CourseID = #{courseID,jdbcType=CHAR}
  </update>
</mapper>