<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdu.xducoder.Dao.NotebookMapper">
  <resultMap id="BaseResultMap" type="com.xdu.xducoder.Entity.Notebook">
    <id column="nbID" jdbcType="VARCHAR" property="nbID" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="UserID" jdbcType="VARCHAR" property="userID" />
    <result column="srcID" jdbcType="VARCHAR" property="srcID" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nbID, `name`, UserID, srcID, `path`
  </sql>
  <select id="selectByExample" parameterType="com.xdu.xducoder.Entity.NotebookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from noteBook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from noteBook
    where nbID = #{nbID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from noteBook
    where nbID = #{nbID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdu.xducoder.Entity.NotebookExample">
    delete from noteBook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdu.xducoder.Entity.Notebook">
    insert into noteBook (nbID, `name`, UserID, 
      srcID, `path`)
    values (#{nbID,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userID,jdbcType=VARCHAR}, 
      #{srcID,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdu.xducoder.Entity.Notebook">
    insert into noteBook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nbID != null">
        nbID,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="srcID != null">
        srcID,
      </if>
      <if test="path != null">
        `path`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nbID != null">
        #{nbID,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=VARCHAR},
      </if>
      <if test="srcID != null">
        #{srcID,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update noteBook
    <set>
      <if test="record.nbID != null">
        nbID = #{record.nbID,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userID != null">
        UserID = #{record.userID,jdbcType=VARCHAR},
      </if>
      <if test="record.srcID != null">
        srcID = #{record.srcID,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        `path` = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update noteBook
    set nbID = #{record.nbID,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      UserID = #{record.userID,jdbcType=VARCHAR},
      srcID = #{record.srcID,jdbcType=VARCHAR},
      `path` = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdu.xducoder.Entity.Notebook">
    update noteBook
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userID != null">
        UserID = #{userID,jdbcType=VARCHAR},
      </if>
      <if test="srcID != null">
        srcID = #{srcID,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where nbID = #{nbID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdu.xducoder.Entity.Notebook">
    update noteBook
    set `name` = #{name,jdbcType=VARCHAR},
      UserID = #{userID,jdbcType=VARCHAR},
      srcID = #{srcID,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR}
    where nbID = #{nbID,jdbcType=VARCHAR}
  </update>
</mapper>